@font-face {
  font-family: "montserra";
  src: url("./fonts/Montserrat-Regular.ttf");
}


body {
  font-family: "montserra";
  background-color: #cccccc;
  color: #2a2a2a;
  font-weight: 400;
}

.navbar {
 
  z-index: 7;
  width: 100%; 
  top: 0;
  background-color: #00a64a;
  font-weight: 900;
  height: 50px;
  position: fixed;
}
.headCommo{
  background-color: #00a64a;

}

h1 {
  padding-top: 24px;  
  padding-bottom: 24px;  
  font-size: 22px;
  font-weight: 700;
  padding-left: 165px;
}

h2 {
  font-size: 14px;
  font-weight: 200;
}
.cityImg{
  width:100%;
}
.cityImg2{
  width: 100%;
}

p{
  margin: 0;
}
.hotelCard {
  margin-top: 100px;
  z-index: 1;
  margin: 10px;
}

.priceStar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hotelName {
  color: aqua;
}
.hotelCardGroup{
  border-radius: 30px;
  border-radius: 1px solid white;
  width: 250px;
}
.hotelImg {
  height: 200px;
  width: 250px;
}

a{
  text-decoration: none;
}