@font-face {
  font-family: "montserra";
  src: url("./fonts/Montserrat-Regular.ttf");
}

body {
  font-family: "montserra";
  background-color: #cccccc;
  color: #2a2a2a;
  font-weight: 400;
}

.navbar {
  background-color: #00a64a;
  font-weight: 900;
  height: 50px;
}

h1 {
  font-size: 22px;
  
  font-weight: 700;
}

h2 {
  font-size: 14px;
  font-weight: 200;
}
.cityImg{
  width:100%;
}
.cityImg2{
  width: 100%;
}

p{
  margin: 0;
}
.hotelCard {
  margin: 10px;
}

.priceStar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hotelName {
  color: aqua;
}
.hotelCardGroup{
  border-radius: 30px;
  border-radius: 1px solid white;
  height: 310px;
  max-height: 310px;
  min-height: 310px;
  width: 250px;
}
.hotelImg {
  height: 200px;
  width: 250px;
}